# clang-format --dump-config -style=Google > .clang-format
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

---
Language                                  : Cpp         # 语言 C++
BasedOnStyle                              : Google      # 基本风格 Google

IndentWidth                               : 4           # 缩进的宽度
AccessModifierOffset                      : -4          # private, protect, public 不缩进
IndentCaseLabels                          : false       # case 不缩进
IndentCaseBlocks                          : true        # case 里的内容缩进

AlignConsecutiveAssignments               : Consecutive # 对齐连续的赋值或初始化
AlignConsecutiveBitFields                 : Consecutive # 对齐连续的位
AlignConsecutiveDeclarations              : Consecutive # 对齐连续的声明
AlignConsecutiveMacros                    : Consecutive # 对齐连续的宏

AllowShortEnumsOnASingleLine              : false       # 不允许任何短的 枚举    放在一行
AllowShortBlocksOnASingleLine             : Never       # 不允许任何短的 块      放在一行
AllowShortCaseLabelsOnASingleLine         : false       # 不允许任何短的 case    放在一行
AllowShortFunctionsOnASingleLine          : None        # 不允许任何短的 函数    放在一行
AllowShortLambdasOnASingleLine            : None        # 不允许任何短的 lambda  放在一行
AllowShortIfStatementsOnASingleLine       : Never       # 不允许任何短的 if      放在一行
AllowShortLoopsOnASingleLine              : false       # 不允许任何短的 循环    放在一行

AllowAllArgumentsOnNextLine               : false       # 函数参数一行放不下时, 每行一个
AllowAllParametersOfDeclarationOnNextLine : false
BinPackArguments                          : false
BinPackParameters                         : false
...
